
<footer class="text-center py-5 bg-black border-t border-red-700">
  <h3 class="text-lg font-bold text-red-500">Sígueme en:</h3>
  <div class="flex justify-center gap-4 mt-2">
    <a href="https://github.com/derr0310" target="_blank" class="text-red-400 hover:text-red-500 transition">GitHub</a>
    <a href="https://linkedin.com/in/daniel-risco-rivera-27b676213" target="_blank" class="text-red-400 hover:text-red-500 transition">LinkedIn</a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tuemail@gmail.com" target="_blank" class="text-red-400 hover:text-red-500 transition">Email</a>
  </div>
  <p class="text-xs text-red-600 mt-4">© 2025 Daniel Eduardo Risco Rivera- Todos los derechos reservados.</p>
</footer>



